body {
    background-color: rgb(35, 89, 57);
}

.background-white {
    background-color: rgb(255, 255, 255);
}

.letter {
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 15px;
}

.main-border {
    border: 10px solid rgb(124,65,34);
    border-radius: 10px;
}